# Resultados de simulación (timesteps numéricos)
[0-9]*/
[0-9]*.[0-9]*/

Excepciones: condiciones iniciales
!0/
!0.[0-9]*/

# Mallas procesadas
constant/polyMesh/
constant/extendedFeatureEdgeMesh/

# Logs
log.*
*.log
foam.job*
slurm-*.out
*.err

# ParaView
*.foam
*.OpenFOAM

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Postproceso pesado
postProcessing/
*.csv
*.dat
*.vtk
*.vtu
*.vtp
